<MudDialog Style="max-height: 500px; overflow-y: auto;">
    <DialogContent>
        <div class="ms-3">
            The Latest Version is: @LatestVersion, Please LogOut and Login again for latest version!
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" Class="mr-1" OnClick="Submit" Size="Size.Small">Ok</MudButton>
    </DialogActions>
</MudDialog>
